
/* phone landscape */
@media screen and (max-width: 760px) {

.mobile_clear { clear: both; }

#content_left {
  min-height: 0;
  position: static;
  width: 100%;
  height: 90px;
  
  h1 {
    width: 156px;
    height: 90px;
    background-size: 116px 60px;
    float: left;
  }
  
  nav {
    width: 31px;
    height: 90px;
    float: right;
    background-image: url("image/hamburger.svg");
    background-repeat: no-repeat;
    background-size: 31px 31px;
  }
}
    
    
/* HOMEPAGE */
#content_right {
  width: 100%;
  margin: 0;
}

#homepage_wrapper {
    
    #homepage_slideshow {
      .slide {
        top: 0 !important;
        left: 0 !important;
        img {
          min-width: 0;
          min-height: 0;
          width: 100%;
          height: auto;
          
          &.homepage_browser { display: none; }
          &.homepage_mobile { display: block; }
        }
      }
    }
    
    #homepage_text {
      position: relative;
      top: auto;
      right: auto;
    }
    
}

}